<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="../static/css/styles.css"/>
<head th:replace="template :: head">
</head>

<body>
    <div class="container">
        <h1>Game Info6</h1>
    </div>
    <br>
    <br>
<div class="container">

    <div id="top" th:include="template :: masthead"></div>

    <div id="middle">


        <form method="post" action="/entry">
            <fieldset>
                <div class="form-group">
                    <input autofocus="true" class="form-control" name="hometeam" placeholder="Home Team" type="text"/>
                </div>
                <div class="form-group">
                    <input class="form-control" name="awayteam" placeholder="Away Team" type="text"/>
                </div>
                <div class="form-group">
                    <input class="form-control" id="entry-date" name="entry-date" type="date"/>
                </div>
                <div class="form-group">
                    <input class="form-control" id="entry-time" name="entry-time" type="time"/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Next - Lineup</button>
                </div>


            </fieldset>
        </form>
    </div>

    <div th:replace="template :: footer"></div>

</div>

</body>

</html>