<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../static/css/styles.css"/>
    <title></title>
</head>
<body>

    <div class="container">
        <h1>Diamond<img src="../static/img/diamond.jpg" height="54" width="75">Score9</h1>
    </div>
    <div class="container">
        <br>
        <br>
        <button type="button" class="btn btn-primary btn-md">Score New Game</button>
        <button type="button" class="btn btn-danger btn-md">Load Saved Game</button>
    </div>
</body>
</html>